
[Unit]
Description=combine1090-dump - separate dump1090-fa instance to display multiple beast feeds from other dump1090 instances running on other computers
Documentation=https://github.com/wiedehopf/combine1090
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/etc/default/combine1090
EnvironmentFile=-/var/cache/piaware/location.env
User=dump1090
RuntimeDirectory=combine1090
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/dump1090-fa \
 $RECEIVER_OPTIONS $DECODER_OPTIONS $NET_OPTIONS $JSON_OPTIONS $PIAWARE_DUMP1090_LOCATION_OPTIONS \
 --write-json /run/combine1090 --quiet
Type=simple
Restart=on-failure
RestartSec=30
Nice=-5

[Install]
WantedBy=default.target
