
[Unit]
Description=combine1090-dump - combine1090 dump1090-fa/readsb instance
Documentation=https://github.com/wiedehopf/combine1090
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/etc/default/combine1090
EnvironmentFile=-/var/cache/piaware/location.env
User=dump1090
RuntimeDirectory=combine1090
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/readsb \
$PIAWARE_DUMP1090_LOCATION_OPTIONS $RECEIVER_OPTIONS $DECODER_OPTIONS $NET_OPTIONS $JSON_OPTIONS \
 --write-json /run/combine1090 --quiet
Type=simple
Restart=on-failure
RestartSec=30
SyslogIdentifier=combine1090-dump

[Install]
WantedBy=default.target
